<ul class="nav navbar-nav">
  <li><a href="#/"><span>Inicio</span></a></li>
  <li><a href="#/"><span>{{ config.iniciales }}</span></a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Diagnostico <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
    <li><a href="#/"></i> Como se realizan?</a></li>
      <li><a href="#/">Formas de evaluación</a></li>
      <li><a href="#/">Areas de evaluación</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
    <li><a href="#/"></i> Reporte proceso de gestión</a></li>
      <li><a href="#/">Reporte evaluación docente</a></li>
      <li><a href="#/">Reporte para apoderados</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administración <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
    <li ng-class="mCuentas"><a href="#/cuentas/1"></i> Crear cuenta</a></li>
      <li><a href="#/">Subir documentos</a></li>
      <li><a href="#/">Subir nuevos juegos</a></li>
    </ul>
  </li>
  <li ng-class="mNoticias"><a href="#/noticias/1"><span>Contacto</span></a></li>
</ul>
